production:
   adapter: mysql2
   database: openmrs_vitals_d
   username: root
   password: password
   host: localhost

development:
  adapter: mysql2
  database: openmrs_vitals_d
  username: root
  password: password
  host: localhost

test: &TEST
  adapter: mysql
  database: openmrs15
  username: yamiko
  password: bart
  host: localhost

cucumber:
  <<: *TEST
